
h1{
    font-size: 45px;
    text-align: center;
}

h2{
    text-align: center;
}

img{
    margin-top: 30px;
    border-radius: 50px;
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


.bodyText {
    color: black;
    padding-top: 0px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}


ion-icon{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 95px;
}



body{
    background-color: #D6E1E0;
    opacity: 1;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

.box{
    text-decoration: none;
	font-family: sans-serif;
	background: white;
	width: 70px;
	height: 70px;
	display: block;
	float: left;
	margin: 1.5px;
	padding: 5px;
	border: 1px solid black;
}




